<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header>
      <div class="container">
        <h1><a href="/">Mary Acklin</a></h1>
        <p style="display: none;">Custom hand-woven wall hangings from Pittsburgh, PA</p>
      </div>
    </header>
    <div class="container">
      {{ content }}
    </div>
    <footer>
      <div class="container">
        <p><a href="mailto:acklin.mary@gmail.com">email</a> &bull; <a href="http://www.instagram.com/maryacklin">instagram</a></p>
      </div>
    </footer>
    {% include scripts.html %}
    {% include googleanalytics.html %}

  </body>
</html>
