<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title }}{% if page.subhead %} &bull; {{ page.subhead }}{% endif %}</title>
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css"/>
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700" rel="stylesheet">
  <style type="text/css">
    .athelas { font-family: athelas, Lora, georgia, serif; }
  </style>
</head>
